.index-1 {
  background-color: #9c239a;
}

.index-2 {
  background-color: #c184c2;
}

.index-3 {
  background-color: #ca5176;
}

.index-4 {
  background-color: rgb(241 27 95);
}

.index-5 {
  background-color: #ffff34;
}

.index-6 {
  background-color: rgb(255 255 255);
}
